@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

1. Import
2. Sections / section
3. Separator / .separator
4. Owl Carousel Overwrite / .owl-theme
5. Responsiveness
6. Boxed Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Import]
*/
/******

CSS Flex (Prefixed)
--------
1. Flex
2. Align Items
3. Justify Content

******/
.display-flex {
  display: -webkit-flex;
  display: flex;
}
/*------------------------------------------------------------------
[Table of contents]

1. CSS transition (prefixed) / .transition
2. CSS transform (prefixed) / .transform
3. CSS transition with transform added (prefixed) / .transition-transform
4. CSS animation (prefixed) / .animation
5. CSS transition-delay (prefixed) / .transition-delay
6. CSS transform-origin (prefixed) / .transform-origin

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Variables
2. Basic
3. Navigation / body>nav
4. Footer / body>footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Variables]
*/
/*------------------------------------------------------------------
[2. Basic]
*/
.animation-chain {
  visibility: hidden;
}
.animated {
  visibility: visible !important;
  animation-duration: .8s;
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.bg-primary-color {
  background-color: #E86C6C;
  color: rgba(255, 255, 255, 0.75);
}
.bg-primary-color h1,
.bg-primary-color h2,
.bg-primary-color h3,
.bg-primary-color h4,
.bg-primary-color h5,
.bg-primary-color h6 {
  color: rgba(255, 255, 255, 0.5);
}
.bg-primary-color a:link,
.bg-primary-color a:visited {
  color: #ffffff;
}
.bg-primary-color a:hover,
.bg-primary-color a:active {
  color: #fff;
}
.bg-dark-gray {
  background-color: #4A4A4A;
  color: #fff;
}
.bg-dark-gray h1,
.bg-dark-gray h2,
.bg-dark-gray h3,
.bg-dark-gray h4,
.bg-dark-gray h5,
.bg-dark-gray h6 {
  color: #fff;
}
.bg-dark-gray a:link,
.bg-dark-gray a:visited {
  color: #979797;
}
.bg-dark-gray a:hover,
.bg-dark-gray a:active {
  color: #fff;
}
.bg-light-gray {
  background-color: #f4f4f4;
  background-image: url('../img/seigaiha.png');
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.call-to-action {
  margin: 3em 0 0;
  text-align: center;
  color: #E86C6C;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .9em;
}
.call-to-action > p {
  display: inline-block;
  box-shadow: 0 0 0 1px #E86C6C, 0 0 0 3px #fff, 0 0 0 4px #E86C6C;
  padding: .8em 1em;
  border-radius: 10px;
  margin-bottom: 0;
}
.call-to-action > p a:link,
.call-to-action > p a:visited {
  display: block;
  color: #E86C6C;
}
.call-to-action > p a:hover,
.call-to-action > p a:active {
  color: #fdf0f0;
}
.call-to-action > p span.lnr {
  font-size: 2em;
  vertical-align: middle;
  margin-right: .25em;
}
a:link,
a:visited {
  color: #E86C6C;
  outline: 0;
}
a:hover,
a:active {
  color: #f6c4c4;
}
.btn {
  border-width: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Fira Sans', sans-serif;
  padding: 1em 1.5em;
  border-radius: 0 !important;
}
.btn:focus {
  outline: none;
}
.btn:active,
.btn.active {
  box-shadow: none;
}
.btn.btn-primary {
  background-color: #E86C6C;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}
.btn.btn-primary:hover {
  background-color: #e14040;
  color: #fff;
}
ul.social {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.social > li {
  display: inline-block;
  font-size: 1.8em;
}
ul.social > li > a {
  vertical-align: middle;
}
ul.social > li > a:link,
ul.social > li > a:visited {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ul.social > li > a:hover,
ul.social > li > a:active {
  color: #fff;
}
ul.social > li + li {
  margin-left: .8rem;
}
@keyframes scroll-down {
  0% {
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0,10px,0);
    -o-transform: translate3d(0,10px,0);
    -ms-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    opacity: 0;
  }
}
/*
	Loader
	Adapted from: http://www.w3schools.com/howto/howto_css_loader.asp
*/
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*
	Custom Scrollbar Styling
	Adapted from: http://cssdeck.com/labs/css3-webkit-vertical-scrollbars/
*/
::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}
::-webkit-scrollbar {
  width: 9px;
  background-color: #dbdbdb;
}
::-webkit-scrollbar-thumb {
  background-color: #E86C6C;
}
/* Handling super long words / urls
   Source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
*/
.hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
iframe {
  border-width: 0;
}
img {
  max-width: 100%;
}
html,
body {
  height: 100% !important;
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A4A4A;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
body {
  /*------------------------------------------------------------------
[3. Navigation / body>nav]
*/
  /*------------------------------------------------------------------
[4. Footer / body>footer]
*/
}
body > nav {
  position: relative;
  z-index: 9;
  height: 3rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > nav .menu-wrapper {
  position: relative;
  min-height: 3rem;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  color: #4A4A4A;
  padding: 0 8rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > nav .menu-wrapper a:link,
body > nav .menu-wrapper a:visited {
  color: #4A4A4A;
  display: block;
}
body > nav .menu-wrapper a:hover,
body > nav .menu-wrapper a:active {
  color: #E86C6C;
}
body > nav .menu-wrapper ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  font-size: .7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  letter-spacing: 2px;
}
body > nav .menu-wrapper ul.menu > li {
  display: inline-block;
  line-height: 3rem;
}
body > nav .menu-wrapper ul.menu > li + li {
  margin-left: 3em;
}
body > nav .menu-wrapper ul.menu > li.current-menu-item {
  position: relative;
}
body > nav .menu-wrapper ul.menu > li.current-menu-item a:link,
body > nav .menu-wrapper ul.menu > li.current-menu-item a:visited {
  color: #E86C6C;
}
body > nav .menu-wrapper ul.menu > li.current-menu-item:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url("../img/heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: calc(1.428em - 12px);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
}
body > nav.nav-fixed .menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
body > nav button.open-menu {
  display: none;
  position: absolute;
  top: .75rem;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.75rem;
  border-radius: 0;
  text-indent: -9999px;
  border-width: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  overflow: hidden;
}
body > nav button.open-menu:before,
body > nav button.open-menu:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #9B9B9B;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > nav button.open-menu:before {
  box-shadow: 10px 11px 0 #9B9B9B;
}
body > nav button.open-menu:after {
  -webkit-transform: translate3d(0, 22px, 0);
  -o-transform: translate3d(0, 22px, 0);
  -ms-transform: translate3d(0, 22px, 0);
  transform: translate3d(0, 22px, 0);
  width: 75%;
}
body > nav.opened .menu-wrapper ul.menu {
  display: block;
}
body > nav.opened .menu-wrapper button.open-menu {
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
body > nav.opened .menu-wrapper button.open-menu:before {
  -webkit-transform: translate3d(0, 11px,0) rotate(45deg);
  -o-transform: translate3d(0, 11px,0) rotate(45deg);
  -ms-transform: translate3d(0, 11px,0) rotate(45deg);
  transform: translate3d(0, 11px,0) rotate(45deg);
  box-shadow: 0 -17px 0 transparent;
}
body > nav.opened .menu-wrapper button.open-menu:after {
  width: 100%;
  -webkit-transform: translate3d(0, 11px,0) rotate(-45deg);
  -o-transform: translate3d(0, 11px,0) rotate(-45deg);
  -ms-transform: translate3d(0, 11px,0) rotate(-45deg);
  transform: translate3d(0, 11px,0) rotate(-45deg);
}
body > nav:not(.opened) .menu-wrapper {
  overflow: hidden !important;
}
body > footer {
  padding: 4rem 8rem;
  position: relative;
  background-color: #f4f4f4;
  text-align: center;
}
body > footer > * {
  position: relative;
  z-index: 2;
  color: #fff;
}
body > footer .footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
body > footer .heart {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
body > footer .heart svg {
  display: block;
  margin: 0 auto;
  height: 56px;
}
body > footer .heart svg use {
  fill: #E86C6C;
}
body > footer h2 {
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  margin-top: .5em;
  margin-bottom: .25em;
}
body > footer h3 {
  font-size: 1em;
  font-size: 1.5em;
  margin: 0 0 1em;
}
.parallax {
  -ms-background-position-x: center;
  background-position-x: center;
  position: relative;
  overflow: hidden;
}
.parallax > * {
  position: relative;
  z-index: 3;
}
.parallax .parallax-bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  max-width: none;
  z-index: -1;
}
.parallax .parallax-bg-img.mode-2 {
  top: 0;
}
/*------------------------------------------------------------------
[2. Sections / nav+section, section]
*/
@-webkit-keyframes scaler {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00d';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #E86C6C;
    content: '\f00c' !important;
  }
}
@-moz-keyframes scaler {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00d';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #E86C6C;
    content: '\f00c' !important;
  }
}
@-o-keyframes scaler {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00d';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #E86C6C;
    content: '\f00c' !important;
  }
}
@keyframes scaler {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00d';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #E86C6C;
    content: '\f00c' !important;
  }
}
@-webkit-keyframes scalerBack {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@-moz-keyframes scalerBack {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@-o-keyframes scalerBack {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@keyframes scalerBack {
  50% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@-webkit-keyframes scalerOne {
  0% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@-moz-keyframes scalerOne {
  0% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@-o-keyframes scalerOne {
  0% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
@keyframes scalerOne {
  0% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
    content: '\f00c';
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: black;
    content: '\f00d';
  }
}
nav + section {
  margin-top: 6rem;
}
section {
  margin: 4rem 0;
  padding: 2rem 8rem;
  overflow: hidden;
  position: relative;
}
section.bg-light-gray {
  margin: 6rem 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
section h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.8em;
  margin: 0;
  padding: 1.1em 0;
  margin-bottom: 1em;
  position: relative;
}
section h2:before,
section h2:after {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../img/decor.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 1em;
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
section h2:after {
  top: auto;
  bottom: 0;
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
section .section-intro {
  width: 36em;
  max-width: 80%;
  margin: 2em auto 3em;
  text-align: center;
}
section.section-hero {
  margin: 0;
  height: 100%;
  min-height: 320px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #f4f4f4;
  z-index: 1;
}
section.section-hero .owl-carousel {
  z-index: 1;
}
section.section-hero .owl-carousel .item {
  position: relative;
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
}
section.section-hero .owl-carousel .item:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.section-hero .owl-carousel.owl-theme .owl-nav.disabled + .owl-dots {
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 50%;
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2em;
}
section.section-hero .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 7px;
  box-shadow: none;
}
section.section-hero .announcement-wrapper {
  text-align: center;
  position: relative;
  z-index: 2;
}
section.section-hero .announcement-wrapper .announcement {
  position: relative;
  margin-bottom: 0;
  font-size: 1.25em;
  margin-bottom: 2em;
}
section.section-hero .announcement-wrapper .announcement .heart {
  margin-bottom: 1em;
}
section.section-hero .announcement-wrapper .announcement .heart svg {
  display: block;
  margin: 0 auto;
  height: 35px;
  height: 5.25vmin;
}
section.section-hero .announcement-wrapper .announcement .heart svg use {
  fill: #E86C6C;
}
section.section-hero .announcement-wrapper .announcement .decor svg {
  display: block;
  margin: 0 auto;
  height: 51px;
  height: 7.65vmin;
  width: auto;
}
section.section-hero .announcement-wrapper .announcement .decor svg use {
  fill: #fff;
}
section.section-hero .announcement-wrapper .announcement .decor-inverse > svg {
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}
section.section-hero .announcement-wrapper .announcement h1,
section.section-hero .announcement-wrapper .announcement h2 {
  color: #fff;
}
section.section-hero .announcement-wrapper .announcement h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-size: 6.75vmin;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}
section.section-hero .announcement-wrapper .announcement h2:before,
section.section-hero .announcement-wrapper .announcement h2:after {
  position: absolute;
  content: '';
  display: none;
}
section.section-hero .announcement-wrapper .announcement h1 {
  margin: 0;
  font-size: 2em;
  font-size: 6.75vmin;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
section.section-hero .announcement-wrapper .announcement h1 span.and {
  font-weight: 400;
}
section.section-hero .announcement-wrapper .announcement .date {
  margin: 0;
  overflow: hidden;
  font-size: 1em;
  font-size: 3.375vmin;
}
section.section-hero .announcement-wrapper .announcement .date span {
  position: relative;
  display: inline-block;
  color: #fff;
}
section.section-hero .announcement-wrapper .announcement .date span:before,
section.section-hero .announcement-wrapper .announcement .date span:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  height: 1px;
  width: 500px;
  background-color: #fff;
}
section.section-hero .announcement-wrapper .announcement .date span:before {
  right: 100%;
  margin-right: 1em;
}
section.section-hero .announcement-wrapper .announcement .date span:after {
  left: 100%;
  margin-left: 1em;
}
section.section-hero .announcement-wrapper .cta {
  visibility: hidden;
}
section.section-hero .scroll-down {
  position: absolute;
  z-index: 3;
  bottom: -0.5555em;
  bottom: -1.5vmin;
  left: 1.67em;
  left: 4.5vmin;
  width: 25px;
  width: 3.75vmin;
  height: 40px;
  height: 6vmin;
  border-radius: 12.5px;
  border-radius: 1.875vmin;
  border: 2px solid #9B9B9B;
  border: 0.3vmin solid #9B9B9B;
  cursor: pointer;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
section.section-hero .scroll-down:before {
  position: absolute;
  content: '';
  display: block;
  width: 3px;
  width: .45vmin;
  height: 8px;
  height: 1.2vmin;
  background-color: #9B9B9B;
  top: 8px;
  top: 1.2vmin;
  left: 9px;
  left: 1.35vmin;
  animation: 'scroll-down' 1s ease infinite;
}
section.section-couple {
  margin-top: 0;
  padding-top: 2em;
}
section.section-couple .flowers {
  overflow: hidden;
}
section.section-couple .flowers:before,
section.section-couple .flowers:after {
  position: absolute;
  content: '';
  display: block;
  width: 16rem;
  width: 43.2vmin;
  height: 16rem;
  height: 43.2vmin;
  background-image: url('../img/flowers.svg');
  background-position: center center;
  background-size: cover;
  opacity: .1;
  top: -4.8rem;
}
section.section-couple .flowers:before {
  left: -8rem;
  left: -21.6vmin;
}
section.section-couple .flowers:after {
  right: -8rem;
  right: -21.6vmin;
}
section.section-couple .bride-and-groom {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
}
section.section-couple .bride-and-groom:before {
  position: absolute;
  content: '&';
  display: block;
  font-family: 'Dancing Script', cursive;
  margin-top: 17.6%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 4em;
  color: #9B9B9B;
  visibility: visible;
}
section.section-couple .bride-and-groom > .bride,
section.section-couple .bride-and-groom > .groom {
  width: 44%;
  text-align: center;
}
section.section-couple .bride-and-groom > .bride .profile-pic,
section.section-couple .bride-and-groom > .groom .profile-pic {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}
section.section-couple .bride-and-groom > .bride .profile-pic:after,
section.section-couple .bride-and-groom > .groom .profile-pic:after {
  position: absolute;
  content: '';
  display: block;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: .5em;
  border: 1px solid #fff;
  visibility: visible;
}
section.section-couple .bride-and-groom > .bride h3,
section.section-couple .bride-and-groom > .groom h3 {
  font-size: 1.55em;
  margin: 0;
  line-height: 1.25;
}
section.section-couple .bride-and-groom > .bride h4,
section.section-couple .bride-and-groom > .groom h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1em;
}
section.section-couple .bride-and-groom > .bride p,
section.section-couple .bride-and-groom > .groom p {
  color: #9B9B9B;
  max-width: 20em;
  margin: 0 auto;
}
section.section-couple .bride-and-groom > .bride ul.social,
section.section-couple .bride-and-groom > .groom ul.social {
  margin-top: 1em;
}
section.section-couple .bride-and-groom > .bride ul.social a:link,
section.section-couple .bride-and-groom > .groom ul.social a:link,
section.section-couple .bride-and-groom > .bride ul.social a:visited,
section.section-couple .bride-and-groom > .groom ul.social a:visited {
  color: #9B9B9B;
}
section.section-couple .bride-and-groom > .bride ul.social a:hover,
section.section-couple .bride-and-groom > .groom ul.social a:hover,
section.section-couple .bride-and-groom > .bride ul.social a:active,
section.section-couple .bride-and-groom > .groom ul.social a:active {
  color: #E86C6C;
}
section.section-story ul.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
section.section-story ul.timeline:before {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: rgba(155, 155, 155, 0.5);
}
section.section-story ul.timeline > li {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
section.section-story ul.timeline > li:hover .meta .timeline-thumbnail {
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
section.section-story ul.timeline > li:nth-child(2n) {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
section.section-story ul.timeline > li:nth-child(2n) .meta {
  padding-right: 0;
  padding-left: 4em;
  padding-left: 6vw;
}
section.section-story ul.timeline > li:nth-child(2n) .meta .timeline-thumbnail {
  margin-right: 0;
  margin-left: auto;
  position: relative;
}
section.section-story ul.timeline > li:nth-child(2n) .meta .date {
  left: 2em;
  left: 6vw;
  right: auto;
}
section.section-story ul.timeline > li:nth-child(2n) .desc {
  padding-left: 0;
  padding-right: 4em;
  padding-right: 6vw;
}
section.section-story ul.timeline > li + li {
  margin-top: 1em;
}
section.section-story ul.timeline > li svg.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
section.section-story ul.timeline > li svg.heart path {
  fill: #E86C6C;
}
section.section-story ul.timeline > li .meta,
section.section-story ul.timeline > li .desc {
  width: 50%;
}
section.section-story ul.timeline > li .meta {
  position: relative;
  padding-right: 4em;
  padding-right: 6vw;
}
section.section-story ul.timeline > li .meta:before {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(155, 155, 155, 0.5);
  top: 50%;
  left: 0;
}
section.section-story ul.timeline > li .meta .timeline-thumbnail {
  width: 225px;
  height: 225px;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
section.section-story ul.timeline > li .meta .date {
  font-size: 2em;
  font-size: 3vw;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 50%;
  right: 2em;
  right: 6vw;
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  color: #9B9B9B;
}
section.section-story ul.timeline > li .desc {
  overflow: hidden;
  padding-left: 4em;
  padding-left: 6vw;
}
section.section-events ul.event-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 52em;
  max-width: 100%;
  margin: 0 auto;
}
section.section-events ul.event-list > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}
section.section-events ul.event-list > li + li {
  margin-top: 3em;
  padding-top: 3em;
  box-shadow: 0 -1px 0 rgba(155, 155, 155, 0.3);
}
section.section-events ul.event-list > li .event-thumbnail {
  width: 13em;
  margin-right: 3em;
  background-position: center center;
  background-size: cover;
}
section.section-events ul.event-list > li .event-details {
  width: calc(100% - 16em);
  overflow: hidden;
}
section.section-events ul.event-list > li .event-details h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.67em;
  margin: 0;
}
section.section-events ul.event-list > li .event-details ul.event-info {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 1em 0;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.8;
}
section.section-events ul.event-list > li .event-details ul.event-info > li span {
  display: inline-block;
  color: #E86C6C;
  width: 2em;
}
section.section-events ul.event-list > li .event-details .desc {
  color: #9B9B9B;
  max-width: 100%;
}
section.section-events ul.event-list > li .event-details .cta a.btn + a.btn {
  margin-left: 1em;
}
section.section-rsvp form {
  text-align: center;
}
section.section-rsvp form > .form-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-bottom: 1em;
}
section.section-rsvp form > .form-wrapper .left {
  width: 35%;
}
section.section-rsvp form > .form-wrapper .left input {
  width: 100%;
  padding: .5em;
  border: 0 solid rgba(155, 155, 155, 0.5);
  outline: none;
  background-color: transparent;
  border-bottom-width: 1px;
}
section.section-rsvp form > .form-wrapper .left input + input {
  margin-top: 1em;
}
section.section-rsvp form > .form-wrapper .right {
  width: calc(65% - 1em);
  margin-left: 1em;
}
section.section-rsvp form > .form-wrapper .right ul.events {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
section.section-rsvp form > .form-wrapper .right ul.events li {
  background-size: cover;
  background-position: center center;
  height: 100%;
  cursor: pointer;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
section.section-rsvp form > .form-wrapper .right ul.events li > * {
  position: relative;
  z-index: 2;
}
section.section-rsvp form > .form-wrapper .right ul.events li:before {
  position: absolute;
  content: '';
  display: block;
  background-color: #000;
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 1;
}
section.section-rsvp form > .form-wrapper .right ul.events li:hover:before {
  opacity: 0;
}
section.section-rsvp form > .form-wrapper .right ul.events li:after {
  position: absolute;
  display: block;
  content: '\f00d';
  font-size: 1em;
  font-family: 'FontAwesome';
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  top: -0.75em;
  right: -0.75em;
  background-color: white;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  animation: scalerBack 0.5s forwards;
}
section.section-rsvp form > .form-wrapper .right ul.events li.selected:after {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  content: '\f00c' !important;
  animation: scaler 0.5s;
  animation-fill-mode: forwards;
}
section.section-rsvp form > .form-wrapper .right ul.events li.clicked:after {
  animation: scalerOne 0.5s forwards !important;
}
section.section-rsvp form > .form-wrapper .right ul.events li p {
  margin: 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
}
section.section-rsvp form > .form-wrapper .right ul.events li + li {
  margin-top: 1em;
}
section.section-rsvp form > .form-wrapper .right select {
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(155, 155, 155, 0.5);
  outline-color: #E86C6C;
}
section.section-rsvp form > .form-wrapper .right select option {
  padding: .5em;
}
section.section-rsvp #message {
  text-align: center;
  margin-top: 1em;
}
section.section-rsvp #message p {
  margin: 0;
}
section.section-people h3 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 1.67em;
  margin: 1.5em 0 .75em;
}
section.section-people h3:first-child {
  margin-top: 0;
}
section.section-people .container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
section.section-people .row {
  overflow: hidden;
  margin-left: -1rem;
  margin-right: -1rem;
}
section.section-people .row .col-sm-3,
section.section-people .row .col-sm-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
section.section-people .row .col-sm-3:hover .profile-pic,
section.section-people .row .col-sm-4:hover .profile-pic {
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
section.section-people .row .col-sm-3 .profile-pic,
section.section-people .row .col-sm-4 .profile-pic {
  padding-top: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
section.section-people .row .col-sm-3 h4,
section.section-people .row .col-sm-4 h4 {
  text-align: center;
  font-weight: 400;
  margin: .5em 0 0;
  font-size: 1em;
}
section.section-gallery .gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  display: none;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
}
section.section-gallery .gallery-overlay:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid #E86C6C;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  animation: spin 1s linear infinite;
}
section.section-gallery .gallery-overlay.opened {
  opacity: 1;
}
section.section-gallery .gallery-overlay.loaded:before {
  display: none;
}
section.section-gallery .gallery-overlay .gallery-modal {
  width: 80%;
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2);
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #E86C6C;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2);
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav:before {
  display: block;
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #E86C6C;
  color: #fff;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav:after {
  position: absolute;
  content: '';
  display: block;
  top: 100%;
  height: 50px;
  width: 170px;
  right: 0;
  background-color: #fff;
  z-index: 1;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li {
  font-size: 1.25em;
  text-align: center;
  width: 0;
  height: 40px;
  line-height: 40px;
  background-color: #E86C6C;
  color: #fff;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li:hover {
  background-color: #e14040;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li.enabled {
  width: 40px;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li a:link,
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li a:visited {
  color: #fff;
  display: block;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li a:link:after,
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li a:visited:after {
  display: none;
}
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li a:hover,
section.section-gallery .gallery-overlay .gallery-modal ul.modal-nav > li a:active {
  text-decoration: none;
}
section.section-gallery .gallery-overlay .gallery-modal .overflow-wrapper {
  padding: 2.5rem;
  position: relative;
  z-index: 1;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding: 0;
  -webkit-align-items: center;
  align-items: center;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left {
  width: 30%;
  padding-right: 4rem;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left ul > li {
  margin-bottom: 2em;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left ul > li:last-child {
  margin-bottom: 0;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left ul > li.name-cat h3 {
  color: #E86C6C;
  font-size: 1.4em;
  line-height: 1.25;
  margin: 0;
  margin-bottom: .25em;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left ul > li.name-cat h3 + p {
  color: #4A4A4A;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left ul > li.desc {
  font-size: .9em;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right {
  width: 70%;
  line-height: 0;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen {
  height: 0;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > iframe,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > a:link,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen:visited {
  display: block;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > a:link:before,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen:visited:before {
  display: block;
  position: absolute;
  content: '';
  background-image: url('../img/youtube-play.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  opacity: .5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > a:link:hover:before,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen:visited:hover:before,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > a:link:active:before,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen:visited:active:before {
  opacity: .8;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen > a:link:after,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right .wide-screen:visited:after {
  display: none;
}
section.section-gallery .gallery-overlay .gallery-modal .modal-main .left,
section.section-gallery .gallery-overlay .gallery-modal .modal-main .right {
  z-index: 1;
  position: relative;
}
section.section-gallery .gallery-overlay .gallery-modal.opened {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
section.section-gallery header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 2.4rem;
}
section.section-gallery header h2 {
  margin: 0;
}
section.section-gallery header ul.gallery-cats {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 1em;
  text-align: center;
}
section.section-gallery header ul.gallery-cats > li {
  display: inline-block;
}
section.section-gallery header ul.gallery-cats > li + li {
  margin-left: 2em;
}
section.section-gallery header ul.gallery-cats > li > a {
  display: block;
  padding: .5em 0;
}
section.section-gallery .gallery-grid {
  margin: -1rem;
}
section.section-gallery .gallery-grid > .gallery-grid-item {
  width: 33.33%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}
section.section-gallery .gallery-grid > .gallery-grid-item img.gallery-video-icon {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .5;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity ease 0.3s;
  -moz-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  z-index: 2;
}
section.section-gallery .gallery-grid > .gallery-grid-item img:not(.gallery-video-icon) {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
}
section.section-gallery .gallery-grid > .gallery-grid-item:hover {
  cursor: pointer;
}
section.section-gallery .gallery-grid > .gallery-grid-item:hover img.gallery-video-icon {
  opacity: .8;
}
section.section-gallery .gallery-grid > .gallery-grid-item:hover img:not(.gallery-video-icon) {
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
section.section-gallery .gallery-grid > .gallery-grid-item .gallery-hidden {
  display: none;
}
section.section-gifts .retailer-list .row + .row {
  margin-top: 2em;
}
section.section-gifts .retailer-list .row .retailer-thumbnail {
  border: 1px solid rgba(155, 155, 155, 0.5);
  height: 100px;
  text-align: center;
  line-height: calc(100px - 2em);
  padding: 1em 2em;
  display: block;
}
section.section-gifts .retailer-list .row .retailer-thumbnail > img {
  max-height: 100%;
}
section.section-gifts .retailer-list .row .retailer-thumbnail + h4 {
  text-align: center;
  font-weight: 400;
  margin: .5em 0 0;
  font-size: 1em;
}
section + footer {
  margin-top: 6rem;
}
/*------------------------------------------------------------------
[3. Separator / separator]
*/
.separator {
  margin: 6rem 0;
  padding: 2rem 0;
}
.separator:before,
.separator:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 1.6em solid transparent;
  border: 4.32vmin solid transparent;
}
.separator:before {
  top: 0;
  right: 0;
  border-top-color: #fff;
  border-right-color: #fff;
}
.separator:after {
  bottom: 0;
  left: 0;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.separator .flowers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.separator .flowers:before,
.separator .flowers:after {
  position: absolute;
  content: '';
  display: block;
  width: 14.4rem;
  width: 38.9vmin;
  height: 14.4rem;
  height: 38.9vmin;
  background-image: url('../img/flowers-white.svg');
  background-position: center center;
  background-size: cover;
}
.separator .flowers:before {
  left: -9rem;
  left: -24.3vmin;
  top: -1.44rem;
}
.separator .flowers:after {
  right: -9rem;
  right: -24.3vmin;
  bottom: -1.44rem;
}
.separator .separator-carousel .owl-carousel {
  overflow: hidden;
  position: relative;
}
.separator .separator-carousel .owl-carousel .item {
  position: relative;
  display: block;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.separator .separator-carousel .owl-carousel .item:hover {
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.separator.parallax {
  padding: 4rem 8rem;
  color: #fff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 20em;
}
.separator.parallax .parallax-bg-img {
  -webkit-filter: contrast(90%);
  -moz-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
}
.separator.parallax h2 {
  font-size: 2em;
  font-size: 3vw;
  margin: 0;
}
.separator.parallax .decor {
  font-size: 2em;
  font-size: 3vw;
  display: inline-block;
  position: relative;
  margin: .75em 0 0;
  margin: 1.125vw 0 0;
}
.separator.parallax .decor:before,
.separator.parallax .decor:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  width: 100px;
  height: 2px;
  margin-top: -3px;
  background-color: #fff;
}
.separator.parallax .decor:before {
  right: 100%;
  margin-right: .5rem;
}
.separator.parallax .decor:after {
  left: 100%;
  margin-left: .5rem;
}
.separator.parallax .countdown-area {
  font-size: 1.5em;
  font-size: 2.25vw;
  line-height: 4.8em;
  line-height: 7.2vw;
}
.separator.parallax .countdown-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
}
.separator.parallax .countdown-area ul > li span.digits {
  font-size: 3em;
  font-size: 6.75vw;
  margin-right: .1em;
}
.separator.parallax .countdown-area ul > li span.unit {
  margin-right: .5em;
}
/*------------------------------------------------------------------
[4. Owl Carousel Overwrite / .owl-theme]
*/
/*------------------------------------------------------------------
[Owl Carousel Overwrite]
*/
.owl-theme .owl-dots .owl-dot span {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px #E86C6C;
}
.owl-theme .owl-dots .owl-dot {
  display: block;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 1em;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #E86C6C;
  box-shadow: none;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin: 0;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-indent: -9999px;
  background-size: 2em auto !important;
  background-repeat: no-repeat !important;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-theme .owl-nav .owl-prev {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  background-image: url('../img/arrow-left.svg') !important;
  background-position: 3.4em center !important;
}
.owl-theme .owl-nav .owl-next {
  right: 0;
  transform: translateY(-50%) translateX(50%);
  background-image: url('../img/arrow-right.svg') !important;
  background-position: .6em center !important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.owl-carousel.owl-full-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.owl-carousel.owl-full-width .owl-stage-outer,
.owl-carousel.owl-full-width .owl-stage,
.owl-carousel.owl-full-width .owl-item {
  width: 100%;
  height: 100%;
}
.owl-carousel.owl-full-width .item {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
/*------------------------------------------------------------------
[5. Responsiveness]
*/
/*------------------------------------------------------------------
[Table of contents]

1. Media queries (max-width: 991px)
2. Media queries (max-width: 767px)
3. Media queries (max-width: 599px)

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Media queries (max-width: 991px)]
*/
@media only screen and (max-width: 991px) {
  .flex-responsive {
    display: block !important;
  }
  .flex-responsive > div,
  .flex-responsive > li,
  .flex-responsive > ul,
  .flex-responsive > aside {
    width: 100% !important;
    margin: 0 !important;
  }
  body > nav .menu-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }
  body > nav .menu-wrapper ul.menu {
    padding-top: 3rem;
  }
  body > nav .menu-wrapper ul.menu > li {
    display: block;
  }
  body > nav .menu-wrapper ul.menu > li + li {
    margin-left: 0;
  }
  body > nav button.open-menu {
    display: block;
  }
  body > nav:not(.opened) .menu-wrapper {
    max-height: 3rem !important;
  }
  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  section.section-couple .bride-and-groom:before {
    top: 50%;
    margin-top: 0;
  }
  section.section-couple .bride-and-groom > .groom {
    padding-bottom: 2em;
  }
  section.section-couple .bride-and-groom > .bride {
    padding-top: 8em;
  }
  section.section-events ul.event-list > li .event-details .cta a.btn {
    font-size: .7em;
    letter-spacing: 2px;
    padding: .8em 1.2em;
  }
  section.section-events ul.event-list > li .event-thumbnail {
    padding-top: 100%;
    margin-bottom: 1em !important;
  }
  section.section-rsvp form > .form-wrapper .right {
    padding-top: 1em;
  }
  section.section-story ul.timeline {
    margin-top: 2em;
  }
  section.section-story ul.timeline:before {
    display: none;
  }
  section.section-story ul.timeline > li .meta .date {
    font-size: 1.5em;
  }
  section.section-story ul.timeline > li svg.heart {
    display: none;
  }
  section.section-story ul.timeline > li .desc {
    padding-left: 0;
    padding-top: 1em;
  }
  section.section-story ul.timeline > li + li {
    margin-top: 2em;
  }
  body > section.section-gallery .gallery-overlay .gallery-modal.opened,
  body > .main-wrapper #secondary section .gallery-overlay .gallery-modal.opened {
    height: calc(100% - 160px);
  }
  body > section.section-gallery .gallery-overlay .gallery-modal .overflow-wrapper,
  body > .main-wrapper #secondary section .gallery-overlay .gallery-modal .overflow-wrapper {
    overflow: auto;
    height: 100%;
  }
  body > section.section-gallery .gallery-overlay .gallery-modal .modal-main .left,
  body > .main-wrapper #secondary section .gallery-overlay .gallery-modal .modal-main .left {
    padding-right: 0;
  }
  body > section.section-gallery .gallery-overlay .gallery-modal .modal-main .right,
  body > .main-wrapper #secondary section .gallery-overlay .gallery-modal .modal-main .right {
    margin-bottom: 4rem !important;
  }
  .separator.parallax,
  body > footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
/*------------------------------------------------------------------
[2. Media queries (max-width: 767px)]
*/
@media only screen and (max-width: 767px) {
  section,
  .separator.parallax,
  body > footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section .section-intro {
    max-width: 100%;
  }
  section.section-people .col-sm-3 + .col-sm-3 {
    margin-top: 1em;
  }
  section.section-events ul.event-list > li .event-details .cta a.btn {
    display: block;
  }
  section.section-events ul.event-list > li .event-details .cta a.btn + a.btn {
    margin: 0;
    margin-top: 1em;
  }
  section.section-gallery .gallery-grid > .gallery-grid-item {
    width: 100%;
  }
  section.section-gallery header ul.gallery-cats > li {
    display: block;
  }
  section.section-gallery header ul.gallery-cats > li + li {
    margin-left: 0;
  }
  section.section-gifts .retailer-list .row + .row,
  section.section-gifts .col-sm-6 + .col-sm-6 {
    margin-top: 1em;
  }
  .separator.parallax h2 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .separator.parallax .decor {
    font-size: 1.5em;
  }
  .separator.parallax .countdown-area {
    font-size: 1.25em;
  }
  .separator.parallax .countdown-area ul {
    display: block;
  }
  .separator.parallax .countdown-area ul li {
    margin: 1em 0 0;
  }
  .separator.parallax .countdown-area ul li span.digits {
    font-size: 2em;
  }
  .separator.parallax .countdown-area ul li span.unit {
    font-size: 1em;
  }
}
/*------------------------------------------------------------------
[3. Media queries (max-width: 599px)]
*/
@media only screen and (max-width: 599px) {
  section.section-hero .owl-carousel.owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }
}
/*------------------------------------------------------------------
[6. Boxed Layout]
*/
