<section id="gallery" class="section-gallery bg-light-gray">
  <div class="gallery-overlay">
    <div class="gallery-modal">
      <ul class="modal-nav">
        <li><a href="#" class="modal-nav-prev"><span class="lnr lnr-chevron-left"></span></a></li>
        <li><a href="#" class="modal-nav-next"><span class="lnr lnr-chevron-right"></span></a></li>
        <li class="enabled"><a href="#" class="modal-nav-close"><span class="lnr lnr-cross"></span></a></li>
      </ul>
      <div class="overflow-wrapper">
        <div class="modal-main flex-responsive">
          <div class="right"></div>
          <div class="left"></div>
        </div>
      </div>
    </div>
  </div>
  <header class="flex-responsive">
    <h2 class="">Gallery</h2>
    <ul class="gallery-cats">
      <li><a href="#" data-cat="*" class="current">All</a></li>
      <li><a href="#" data-cat="bride-groom">Bride & Groom</a></li>
      <li><a href="#" data-cat="family">Family</a></li>
      <li><a href="#" data-cat="dinner">Dinner</a></li>
      <li><a href="#" data-cat="party">Party</a></li>
    </ul>
  </header>
  <div class="gallery-grid animation-chain" data-animation="zoomIn">
    <div class="gallery-grid-item bride-groom">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="image-list">
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolorem deleniti numquam magnam quos expedita, amet officiis. Provident, minima, qui earum, hic eveniet tenetur dignissimos corrupti cumque sequi dolorum sapiente!</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item family">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="video">
          <li><iframe data-src="https://player.vimeo.com/video/24456787" width="640" height="360" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, dolorum impedit quisquam modi quos fuga illo maxime suscipit vitae quae tenetur, esse repellat libero architecto nesciunt voluptatibus maiores distinctio velit.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item dinner">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="video">
          <li><iframe width="560" height="315" data-src="http://www.youtube.com/embed/5aOSxep4ni0?rel=0&showinfo=0&autohide=1&modestbranding=1" allowfullscreen></iframe></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque expedita porro, numquam omnis. Temporibus consequatur assumenda a quasi eligendi amet natus porro tempore minima, corporis, hic ad vel! Tempore, iure.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item party">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="video">
          <li><iframe width="560" height="315" data-src="http://www.youtube.com/embed/5aOSxep4ni0?rel=0&showinfo=0&autohide=1&modestbranding=1" allowfullscreen></iframe></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat, ipsum non rem dolore. Sequi, dicta temporibus obcaecati, exercitationem sed nam nobis est! Voluptates quos assumenda a quisquam laborum ipsam.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item bride-groom">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="image-list">
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque earum mollitia reiciendis fuga doloremque accusamus, vitae fugit nihil repudiandae hic beatae dolorum iure qui, libero maiores quaerat inventore recusandae.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item family">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="video">
          <li><iframe data-src="https://player.vimeo.com/video/24456787" width="640" height="360" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita explicabo recusandae maiores excepturi impedit eligendi nulla nesciunt, deserunt iusto cum doloribus odit aliquam earum ipsam hic dicta cumque dolores ullam!</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item dinner">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="video">
          <li><iframe width="560" height="315" data-src="http://www.youtube.com/embed/5aOSxep4ni0?rel=0&showinfo=0&autohide=1&modestbranding=1" allowfullscreen></iframe></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat necessitatibus, pariatur inventore. Voluptate, amet sunt! Deleniti, provident, perspiciatis! Inventore placeat, repellat nobis non velit veniam repellendus aliquid odio neque sunt.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item party">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="image-list">
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, corporis, eius! Error sit assumenda hic, ab accusamus quos rem, libero quidem recusandae dolorem, praesentium placeat maiores esse rerum laudantium! Obcaecati.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery-grid-item bride-groom">
      <img src="img/placeholders/1200x800.png" alt="">
      <div class="gallery-hidden">
        <ul class="image-list">
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
          <li><img src="img/blank.png" data-src="http://placehold.it/1200x800" alt=""></li>
        </ul>
        <ul class="gallery-info">
          <li class="name-cat">
            <h3>Sweet Memory</h3>
            <p>Childhood</p>
          </li>
          <li class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, doloremque, nobis. Dicta id reiciendis culpa, facere, asperiores vero repellendus. Cumque repudiandae sed incidunt neque ipsa possimus odit alias mollitia sapiente!</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
